{% extends 'base.html' %}
{% block content %}
    {% if validlink %}
        <p>пожалуйста введите и подвердите новый пароль</p>
        <form action="" method="post">
            {%csrf_token%}
            <table>
                <tr>
                    <td>
                        {{form.new_password1.errors}}</td>
                        <label for="id_new_password1">новый пароль: </label>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>
                        {{form.new_password1.errors}}</td>
                        <label for="id_new_password2">новый пароль: </label>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="изменить пароль"></td>
                </tr>
            </table>
        </form>
        {% else %}
        
    {% endif %}

{% endblock %}